* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    scroll-behavior: smooth;
}

header {
    background: #1a252f;
    color: white;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #e67e22;
}


.hero {
  
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('images.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.btn-main {
    background: #e67e22;
    color: white;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.4s;
}

.btn-main:hover {
    background: #d35400;
    transform: scale(1.05);
}

.services {
    padding: 60px 10%;
    text-align: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.icon {
    font-size: 40px;
    margin-bottom: 15px;
    display: block;
}

.apply-section {
    background: #ebeff2;
    padding: 70px 10%;
}

.form-container {
    max-width: 550px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.btn-submit {
    width: 100%;
    padding: 14px;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #219150;
}

footer {
    background: #1a252f;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}